* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-title {
	font-size: 35px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: 800;
	text-transform: uppercase;
	color: #002984;
}

.main {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-list li {
	margin-bottom: 20px;
}

.main-items {
	font-size: 26px;
	font-weight: 400;
	color: #000;
}